body{
    background-color: rgb(201, 151, 179);
}

a{
    padding-left: 20px;
}


.banner {
  max-width: 60%;
  max-height: 60%;
  padding-left: 19%;
  display: inline;
}

.bannerBack {
  background-color: rgb(114, 67, 94);
  overflow: hidden; /* Hide overflow content */
}

.banner-container {
  display: flex;
  animation: rotateBanner 30s infinite linear; /* Adjust the duration as needed */
}

@keyframes rotateBanner {
  0%, 100% { transform: translateX(0%); }
  25% { transform: translateX(-50%); }
  50% { transform: translateX(-100%); }
  75% { transform: translateX(-150%); }
  99% { transform: translateX(-200%); }
}






.logo{
    width: 56px;
    height: 40px;

}

.linkMenu{
    background-color: blueviolet;
    border-radius: 20%;
    color:pink;
    text-align: center;
}

.blue{
    background-color:linear-gradient(0deg,rgb(43, 101, 226) 80%,rgb(34, 48, 79) 100%)  ;
}
.red{
    background-color:linear-gradient(0deg,rgb(226, 43, 43) 80%,rgb(79, 34, 34) 20%)  ;
}
.green{
    background-color: rgb(43, 226, 43);
}
.purple{
    background-color: rgb(101, 26, 136);
}

.menu{
    display: flex;
    flex-direction: row;
    gap:5%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .galleryS img {
    width: 100%;
    max-width: 40px;
    height: 15px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
    min-width: 1px;
    min-height: 1px;
}
  .gallery img {
    width: 100%;
    max-width: 400px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
    min-width: 1px;
    min-height: 1px;
}

.chiquito:hover,
.gallery img:hover {
    transform: translateY(-5px); /* Move the image up by 5px when hovered */
}

  .gallery p{
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(62, 35, 88);
    /* margin-bottom: 0px; */
    margin-top: 0;
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 0;
    transition: transform 0.3s;
  }
  .gallery p:hover {
    transform: translateY(-5px); /* Move the image up by 5px when hovered */
}

  .gallery button{
    border-radius: 20%;
    margin:0;
    max-width:34.9px;
    min-width:24.9px;
    max-height:3.9px;
    padding-bottom: 30px;
    text-align: center;
    border:0;
  }
  .discounts, .categories {
    margin: 20px auto;
    text-align: center;
}

.discounts h2, .categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.categories {
    margin-top: 40px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  .redC{
    background-color: rgb(209, 72, 72);
    margin-left: 60px;  
  }
  

  .btnComprar {
    background-color: rgb(205, 231, 133);
    text-align: center;
    padding: 10px 70px;
    margin-left: 20%;
    display: inline-block;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(77, 79, 22);
    font-size: 16px;
}

.btnComprar:hover {
    transform: scale(0.95); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.chiquito:active,
.btnComprar:active {
  background-color: rgb(79, 100, 30);
}

 .btnMenu {
  background-color: rgb(229, 133, 231);
  text-align: center;
  width:100px;
  height:30px;
  /* padding: 10px 70px;
  margin-left: 20%; */
  display: inline-block;
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 2px 2px 4px rgba(30, 11, 27, 0.2);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(79, 22, 72);
  font-size: 16px;
}
.btnMenu:hover {
  transform: scale(0.95); 
  box-shadow: 4px 4px 6px rgba(131, 78, 114, 0.3);
}
.btnMenu:active {
background-color: rgb(25, 16, 45);
}
  .producto{
    margin:0;
    padding:0;
  }
  .productoG{
    margin:0;
    padding:0;
    width: 29%;
    border-radius: 50%;
  }


  .menu p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(191, 146, 197);
  }

  .image-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-image: url('search.png'); /* Path to your image */
    background-size: contain; /* Use 'contain' to fit the image within the button */
    background-repeat: no-repeat;
    background-position: center; /* Center the image within the button */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    margin-bottom: 15px;
}

.image-button:hover {
    background-color: #3498db;
}

footer-content{
  font-size: 10px;
  font-weight: 20;
  margin-left: 40%;
}
.letra{
  font-size: medium;
  margin:0;
  color:rgb(84, 51, 80);
  font-family: fantasy;
  text-align: justify;
  align-self: center;
  margin: 20px auto;
  text-align: center; 
  text-shadow: 4px 4px 6px rgba(131, 78, 114, 0.3);
}
.letrita{
  font-size: x-small;
  margin:0;
  color:rgb(126, 101, 123);
  font-family: fantasy;
  text-align: justify;
  align-self: center;
  
}
.letritaB{
  font-size: smaller;
  margin:0;
  color:rgb(96, 88, 133);
  font-family: fantasy;
  text-align: justify;
  align-self: center;
  
}
.wider-image {
  width: 300px; /* Adjust the width as needed */
}
.chiquito{
  width:80px;
  height: 60px;
}