body{
    background-color: rgb(201, 151, 179);
}

a{
    padding-left: 20px;
}


.banner{
    max-width: 60%;
    max-height: 60%;
    padding-left: 19%;
}

.bannerBack{
    background-color: rgb(114, 67, 94);
}

.logo{
    width: 56px;
    height: 40px;

}

.linkMenu{
    background-color: blueviolet;
    border-radius: 20%;
    color:pink;
    text-align: center;
}

.blue{
    background-color:linear-gradient(0deg,rgb(43, 101, 226) 80%,rgb(34, 48, 79) 100%)  ;
}
.red{
    background-color:linear-gradient(0deg,rgb(226, 43, 43) 80%,rgb(79, 34, 34) 20%)  ;
}
.green{
    background-color: rgb(43, 226, 43);
}
.purple{
    background-color: rgb(101, 26, 136);
}

.menu{
    display: flex;
    flex-direction: row;
    gap:5%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 170px;
    height: 150px;

    object-fit: cover;
    border-radius: 10px;
  }

  .gallery p{
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(62, 35, 88);
    /* margin-bottom: 0px; */
    margin-top: 0;
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .gallery button{
    border-radius: 20%;
    margin:0;
    max-width:34.9px;
    min-width:24.9px;
    max-height:3.9px;
    padding-bottom: 30px;
    text-align: center;
    border:0;
  }

  .redC{
    background-color: rgb(209, 72, 72);
    margin-left: 60px;  
  }
  

  .btnComprar {
    background-color: rgb(205, 231, 133);
    text-align: center;
    padding: 10px 70px;
    margin-left: 20%;
    display: inline-block;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(77, 79, 22);
    font-size: 16px;
}

.btnComprar:hover {
    transform: scale(0.95); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

  .producto{
    margin:0;
    padding:0;
  }

  .producto button{
    /* padding-left:100px;
    margin-left: 20%; */
  }

  